body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;font-family:arial}ul,ol{list-style:none;}img{border:none;}a{text-decoration:none;}a:hover{text-decoration:underline;}.nofloat{float:none;}.maincenter{width:984px;margin:0 auto;}.clear{clear:both;}.iclear{clear:both;display:block;overflow:hidden;padding:0;margin:0;width:0;height:0;}
/*

.drop-hover{
        background:yellow;
}

.cluster-container{
        z-index:999999;
    width: 1200px;
    height: 400px;
}
.container-fluid{
    overflow:visible;
}
.subcluster{
    border:1px solid #ddd;
    width:300px;
    float:left;
    margin:0 10px 10px 0;
}
.subcluster img{
    width:48px;
    height:48px;
    margin:10px 0 0 10px;
    float:left;
}


.friend_div{ 
    color: #3B5998; 
    text-decoration: none; 
    background-color: white;
    cursor: pointer;
    width:100px;
    position: relative;
    float: left;
    border:1px dotted #ccc; 
    border-radius:5px; 
    text-align: left; 
    padding:2px; 
    margin-top: 2px;
    margin-left: 2px;
    z-index:999; 
    font-weight:bold; 
    font-size:10.5px;
}
.friend_div img{ 
    padding:2px; 
    margin-right:8px; 
    border:1px solid #ccc;
}*/

.main{
    width:100%;
    overflow:hidden;
    position: relative;
}
.cluster-zone ul{
    width:300px;
    float:left;
    margin-right:20px;
}
.cluster{
    border-radius: 10px;
}
.cluster .friend_div,
#og .friend_div{
    width:54px;
    font-size:12px;
    margin:5px 0 0 5px;
    float:left;
}

.groups .friend_div{
    width: 54px;
    font-size: 12px;
    margin: 5px 0 0 5px;
    float: left;
    border-radius: 5px;
}

.groups{
    overflow: hidden;
    height: 200px;
    padding: 10px;
}

.groups .name {
    display: none;
}

.fg-widget {
    overflow-x: scroll;
    white-space: nowrap;
}
.fg-widget [class*="span"] {
    display: inline-block;
    float: none;
}
.finalGroup{
    height: 200px;
    border-radius: 10px;
    border: #000 1px solid;
    border-radius: 20px;
}

#og .friend_div img,
.cluster .friend_div img{
    margin:2px;
}
#og .friend_div .name,
.cluster .friend_div .name{
    height:18px;
    line-height:18px;
    overflow:hidden;
    margin-left:3px;
}
.group-zone {
    height:320px;
    overflow-x:scroll;
    overflow-y:hidden;
    background:#f7f7f7;
}
.group-zone  ul{
    width:auto;
    overflow:visible;
}
.group{
    background:#fff;
    width:200px;
    height:220px;
    float:left;
    margin:20px 0 0 20px;
    overflow: hidden;
}
.ui-draggable-dragging{
    z-index:999999999;
    position:absolute
}
.drop-hover{
    background:yellow;
    z-index:0;
}
img{
    border-radius: 10px;
}

.group div:first-child{
    font-size: 14px;
    font-weight: bolder;
}

.ul-cluster{
    background-color: #F3F3F3;
    border-radius: 10px;
}